In [1]:
import os, pandas as pd

# Leer los archivos de datos en dataframes

country_isos=pd.read_excel(os.path.join('country_isos.xlsx'))
poblacion=pd.read_csv(os.path.join("co2.csv"))
obesidad = pd.read_csv(os.path.join("obesidad.csv"))
mortality=pd.read_csv(os.path.join("mortalidad.csv"))

In [2]:
#LIMPIEZA DATA 1: Si mi variable seleccionada es la población por cada país en el año 2020

# Como mi fuente me brinda información de diversas fechas, porcedo a filtrar los datos de 2020 directamente en el DataFrame original
poblacion = poblacion[poblacion['year'] == 2020]
poblacion.info()

# Cambio en la selección de columnas específicas, por el nombre de columna "population"
poblacion = poblacion[['country', 'population']].rename(columns={'population': 'Population_in_2020'})
poblacion.reset_index(drop=True, inplace=True)

# Se hace cambio del nombre de la columna "country" a "Country" en el DataFrame original
poblacion.rename(columns={'country': 'Country'}, inplace=True)

# Se realiza el cambio del texto en la columna "Country" de minúsculas a mayúsculas en el DataFrame original
poblacion['Country'] = poblacion['Country'].str.upper()

<class 'pandas.core.frame.DataFrame'>
Index: 271 entries, 170 to 50596
Data columns (total 79 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    271 non-null    object
 1   year                                       271 non-null    int64
 2   iso_code                                   232 non-null    object
 3   population                                 240 non-null    float64
 4   gdp                                        0 non-null      float64
 5   cement_co2                                 234 non-null    float64
 6   cement_co2_per_capita                      234 non-null    float64
 7   co2                                        248 non-null    float64
 8   co2_growth_abs                             236 non-null    float64
 9   co2_growth_prct                            238 non-null    float64
 10  co2_including_luc                          217 non-null    float64
 11  co2_including_luc_growth_abs               217 non-null    float64
 12  co2_including_luc_growth_prct              218 non-null    float64
 13  co2_including_luc_per_capita               217 non-null    float64
 14  co2_including_luc_per_gdp                  0 non-null      float64
 15  co2_including_luc_per_unit_energy          208 non-null    float64
 16  co2_per_capita                             236 non-null    float64
 17  co2_per_gdp                                0 non-null      float64
 18  co2_per_unit_energy                        222 non-null    float64
 19  coal_co2                                   236 non-null    float64
 20  coal_co2_per_capita                        236 non-null    float64
 21  consumption_co2                            149 non-null    float64
 22  consumption_co2_per_capita                 137 non-null    float64
 23  consumption_co2_per_gdp                    0 non-null      float64
 24  cumulative_cement_co2                      234 non-null    float64
 25  cumulative_co2                             237 non-null    float64
 26  cumulative_co2_including_luc               217 non-null    float64
 27  cumulative_coal_co2                        236 non-null    float64
 28  cumulative_flaring_co2                     236 non-null    float64
 29  cumulative_gas_co2                         236 non-null    float64
 30  cumulative_luc_co2                         229 non-null    float64
 31  cumulative_oil_co2                         237 non-null    float64
 32  cumulative_other_co2                       61 non-null     float64
 33  energy_per_capita                          226 non-null    float64
 34  energy_per_gdp                             0 non-null      float64
 35  flaring_co2                                236 non-null    float64
 36  flaring_co2_per_capita                     236 non-null    float64
 37  gas_co2                                    236 non-null    float64
 38  gas_co2_per_capita                         236 non-null    float64
 39  ghg_excluding_lucf_per_capita              0 non-null      float64
 40  ghg_per_capita                             0 non-null      float64
 41  land_use_change_co2                        229 non-null    float64
 42  land_use_change_co2_per_capita             218 non-null    float64
 43  methane                                    0 non-null      float64
 44  methane_per_capita                         0 non-null      float64
 45  nitrous_oxide                              0 non-null      float64
 46  nitrous_oxide_per_capita                   0 non-null      float64
 47  oil_co2                                    237 non-null    float64
 48  oil_co2_per_capita                         236 non-null    float64
 49  other_co2_per_capita                       61 non-null     float64
 50  other_industry_co2                         61 non-null     float64
 51  primary_energy_consumption                 228 non-null    float64
 52  share_global_cement_co2                    234 non-null    float64
 53  share_global_co2                           237 non-null    float64
 54  share_global_co2_including_luc             217 non-null    float64
 55  share_global_coal_co2                      236 non-null    float64
 56  share_global_cumulative_cement_co2         234 non-null    float64
 57  share_global_cumulative_co2                237 non-null    float64
 58  share_global_cumulative_co2_including_luc  217 non-null    float64
 59  share_global_cumulative_coal_co2           236 non-null    float64
 60  share_global_cumulative_flaring_co2        236 non-null    float64
 61  share_global_cumulative_gas_co2            236 non-null    float64
 62  share_global_cumulative_luc_co2            229 non-null    float64
 63  share_global_cumulative_oil_co2            237 non-null    float64
 64  share_global_cumulative_other_co2          61 non-null     float64
 65  share_global_flaring_co2                   236 non-null    float64
 66  share_global_gas_co2                       236 non-null    float64
 67  share_global_luc_co2                       229 non-null    float64
 68  share_global_oil_co2                       237 non-null    float64
 69  share_global_other_co2                     61 non-null     float64
 70  share_of_temperature_change_from_ghg       244 non-null    float64
 71  temperature_change_from_ch4                220 non-null    float64
 72  temperature_change_from_co2                244 non-null    float64
 73  temperature_change_from_ghg                244 non-null    float64
 74  temperature_change_from_n2o                220 non-null    float64
 75  total_ghg                                  0 non-null      float64
 76  total_ghg_excluding_lucf                   0 non-null      float64
 77  trade_co2                                  138 non-null    float64
 78  trade_co2_share                            138 non-null    float64
dtypes: float64(76), int64(1), object(2)
memory usage: 169.4+ KB

In [3]:
#Revisando si la primera data está bien, obtenemos el siguiente resultado
poblacion

            Country  Population_in_2020
0       AFGHANISTAN        3.897224e+07
1            AFRICA        1.360677e+09
2      AFRICA (GCP)                 NaN
3     ALAND ISLANDS                 NaN
4           ALBANIA        2.866850e+06
..              ...                 ...
266  WESTERN SAHARA        5.560600e+05
267           WORLD        7.840953e+09
268           YEMEN        3.228404e+07
269          ZAMBIA        1.892772e+07
270        ZIMBABWE        1.566966e+07

[271 rows x 2 columns]

In [4]:
#LIMPIAR DATA 2:

# Ordenamos la columna "Name" en orden alfabético, para que así coincida con otras datas
obesidad = obesidad.sort_values(by='Name')

# Reiniciar los índices después de ordenar, ya que vemos como estos mantienen las posiciones anteriores
obesidad.reset_index(drop=True, inplace=True)

# Se elimina la columna "Pos" y también es necesario cambiar el nombre de "Name" a "Country"
obesidad = obesidad.drop(columns=['Pos'])
obesidad = obesidad.rename(columns={'Name': 'Country'})

# Se cambia el nombre de la columna "Value" al nombre la variable para esta fuente "Obesity_adult_prevalence_rate"
obesidad = obesidad.rename(columns={'Value': 'Obesity_adult_prevalence_rate'})

# Se realiza el cambio del texto en la columna "Country", de minúsculas a mayúsculas
obesidad['Country'] = obesidad['Country'].str.upper()

#Finalmente se obtiene lo siguiente
obesidad

            Country  Obesity_adult_prevalence_rate
0       AFGHANISTAN                            2.2
1           ALBANIA                           21.3
2           ALGERIA                           16.0
3    AMERICAN SAMOA                           74.6
4           ANDORRA                           25.2
..              ...                            ...
186       VENEZUELA                           30.3
187         VIETNAM                            1.7
188           YEMEN                           14.5
189          ZAMBIA                            3.6
190        ZIMBABWE                            7.0

[191 rows x 2 columns]

In [ ]:
#LIMPIEZA DATA 3